
<h2>Realtime Chat Application</h2>
<hr>
<div>
  <label for="username">Username</label>
  <input type="text" [(ngModel)]="user" id="username" placeholder="Enter username">
</div>
<div>
  <label for="roomInput">Choose room</label>
  <select name="roomInput" id="roomInput" [(ngModel)]="room">
    <option value="Lobby">Lobby</option>
    <option value="Hall">Hall</option>
    <option value="Deluxe">Deluxe</option>
  </select>
</div>
<div> 
  <button (click)="join()">Join</button>
  <button (click)="leave()">Leave</button>
</div>

<div class="row">
  <div style="height:200px; padding:15px;">
    <div *ngFor="let item of messageArray">
    <span><strong>{{item.user}} : </strong> {{item.message}}</span>
    </div>
  </div>
</div>
<div class="row">
  <div>
    <input type="text" [(ngModel)]="messageText">            
  </div>
  <div>
    <button (click)="sendMessage()">Send</button>
  </div>
</div>
